{% comment %} metadata {% endcomment %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.hidden or layout.hidden %}
    <meta name="robots" content="noindex, nofollow, none, noarchive, nosnippet" />
{% endif %}

{% comment %} title {% endcomment %}

{% if page.title %}
    {% assign __title = page.title %}
{% elsif layout.title %}
    {% assign __title = layout.title %}
{% endif %}
<title>Katsute - {{ __title | strip }}</title>

{% comment %} SEO {% endcomment %}

<link rel="canonical" href="{{ site.url }}{{ page.url | remove: ".html" | remove: ".md" }}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">

<meta name="og:title" content="{{ __title | strip }}">
<meta name="og:description" content="{{ page.description }}">
<meta name="og:site_name" content="KatsuteDev">

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://katsute.dev/",
        "logo": "https://katsute.dev/favicon.png",
        "name": "{{ __title | strip }}",
        "description": "{{ page.description }}"
    }
</script>

{% comment %} dependencies {% endcomment %}

{% unless page.icon %}
    <link rel="icon" type="image/svg+xml" href="{{ site.url }}/favicon.ico">
    <link rel="alternate icon" type="image/png" href="{{ site.url }}/favicon.png">
{% else %}
    <link rel="icon" type="image/svg+xml" href="{{ page.icon }}">
{% endunless %}

<link rel="stylesheet" href="{{ site.url }}/dependencies/node/sanitize.css/css/sanitize.css">

<script defer src="{{ site.url }}/dependencies/node/fontawesome/js/all.min.js"></script>

<link rel="stylesheet" href="{{ site.url }}/dependencies/katsute/css/highlight.css">
<link rel="stylesheet" href="{{ site.url }}/dependencies/katsute/css/style.css">

{% comment %} overrides {% endcomment %}

{% if layout.css or page.css %}
    <style>
        {{ layout.css }}
        {{ page.css }}
    </style>
{% endif %}

{{ layout.head }}
{{ page.head }}