<footer class="@footer mt-auto">
    <div class="mt-2 bg-white">
        <div class="container-lg py-3">
            <div class="content row row-cols-1 row-cols-sm-4 flex-justify-center">
                <div class="col">
                    <h6>Navigation</h6>
                    <ul>
                        {% for link in site.data.nav.nav-links %}
                            <li class="nav-item">
                                <a href="{{ link.link }}" class="nav-link text-body p-0">{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <h6>Social</h6>
                    <ul>
                        {% for link in site.data.nav.social-links %}
                            <li class="nav-item">
                                <a href="{{ link.link }}" target="_blank" class="nav-link text-body p-0"><i class="{{ link.icon }} fa-fw me-1"></i>{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <h6>Hiring</h6>
                    <ul>
                        {% for link in site.data.nav.hiring-links %}
                            <li class="nav-item">
                                <a href="{{ link.link }}" target="_blank" class="nav-link text-body p-0"><i class="{{ link.icon }} fa-fw me-1"></i>{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col d-flex">
                    <span class="copyright align-self-end text-center text-sm-start">Copyright © 2022 Katsute; licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>.</span>
                </div>
            </div>
            <div class="row row-cols-1 pt-2">
                <div class="col
                flex-center-center >text-dark">
                    <ul class="nav+">
                        <li>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#github-modal" class="text-white">
                                <i class="fab fa-github"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#sponsor-modal" class="text-white">
                                <i class="fab fa-patreon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#social-modal" class="text-white">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>