{% comment %}
Copyright (C) 2022 Katsute <https://github.com/Katsute>

Product card
{% endcomment %}
{% capture slug %}{{ r.name | slugify: "latin" }}{% endcapture %}
{% capture type %}{% if r.type != "project" %}product{% else %}project{% endif %}{% endcapture %}

<div class="product-card col mb-4">
    <div class="card shadow round-3 overflow-hidden h-100">
        {% comment %} thumbnail {% endcomment %}
        {% unless include.no-thumbnail %}
            <img src="/{{ type }}/{{ slug }}/thumbnail.png" class="card-fluid" onerror="this.style.display='none'">
        {% endunless %}
        {% comment %} body {% endcomment %}
        <div class="card-body d-flex flex-column">
            {% comment %} title {% endcomment %}
            <div class="card-title flex-align-center">
                <div class="me-1">
                    {% assign f = r.for | first %}
                    {% include _component/icon.liquid size=24 icon=f %}
                </div>
                <h5 class="my-auto">{{ include.r.name }}</h5>
            </div>
            {% comment %} technologies {% endcomment %}
            <h6 class="card-subtitle pb-2 text-muted border-bottom">
                <span class="align-middle">Built with</span>
                {% for i in r.with %}
                    {% include _component/icon.liquid size=20 icon=i %}
                {% endfor %}
                <span class="align-middle">using</span>
                {% for i in r.using %}
                    {% include _component/icon.liquid size=20 icon=i %}
                {% endfor %}
                {% assign s = r.for | size %}
                {% if s > 1 %}
                    <span class="align-middle">for</span>
                    {% for i in r.for %}
                        {% include _component/icon.liquid size=20 icon=i %}
                    {% endfor %}
                {% endif %}
            </h6>

            {% comment %} body {% endcomment %}
            <div class="card-text my-2 markdown">
                {{ r.summary | markdownify }}
            </div>

            {% comment %} link {% endcomment %}
            <div class="mt-auto">
                <a class="stretched-link text-decoration-none" href="/{{ type }}/{{ slug }}">View {{ type | capitalize }}</a>
            </div>
        </div>
    </div>
</div>