<div class="card shadow hvr-float">
    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-body d-flex flex-column h-100">
                {% comment %} title {% endcomment %}
                <h5 class="card-title *flex-align-center">{{ include.r.name }}</h5>

                {% comment %} technologies {% endcomment %}
                <h6 class="card-subtitle pb-2 text-muted border-bottom">
                    <span>Built with</span>
                    {% for t in r.with %}
                        <img
                            class="user-select-none" width="25" height="25"
                            src="/dependencies/katsute/assets/{{ t }}.svg"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ site.data.icons[t] }}"
                        >
                    {% endfor %}
                    <span>using</span>
                    {% for t in r.using %}
                        <img
                            class="user-select-none" width="25" height="25"
                            src="/dependencies/katsute/assets/{{ t }}.svg"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ site.data.icons[t] }}"
                        >
                    {% endfor %}
                    <span>for</span>
                    {% for t in r.for %}
                        <img
                            class="user-select-none" width="25" height="25"
                            src="/dependencies/katsute/assets/{{ t }}.svg"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="{{ site.data.icons[t] }}"
                        >
                    {% endfor %}
                </h6>

                {% comment %} body {% endcomment %}
                <p class="card-text mt-2 mb-1">
                    {{ r.desc }}
                </p>
                <a class="stretched-link text-decoration-none mt-auto" href="/product/{{ r.name | slugify: "latin"}}">View {% if r.type != "project" %}Product{% else %}Project{% endif %}</a>
            </div>
        </div>
        <div class="col-12 col-md-6 order-first order-md-last d-flex justify-content-end">
            <img src="/{% if r.type != "project" %}product{% else %}project{% endif %}/{{ r.name | slugify: "latin" }}/thumbnail.png" alt="thumbnail" class="card-image">
        </div>
    </div>
</div>